# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
build/
coverage/
.pub-cache/

# Android
android/.gradle/
android/local.properties
android/key.properties

# iOS (Flutter tarafından üretilenler)
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Flutter/flutter_export_environment.sh

# macOS (Flutter tarafından üretilenler)
macos/Flutter/ephemeral/

# Android (Flutter tarafından üretilenler)
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# IDE
.idea/
*.iml
.vscode/

# OS
Thumbs.db
.DS_Store
